body {
  margin: 0;
  font-size: 0;
}

#container {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/sky.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.box {
  display: inline-block;
  height: 60px;
  width: 60px;
}

.row9, .row8, .row7 {
  background-image: url("../images/dirt.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.row3.column2 {
  background-color: red;
}

.stone{
  background-image: url('../images/stone.png');
  background-size: cover;
}
.dirt{
  background-image: url('../images/dirt.jpeg');
  background-size: cover;
}
.grass{
  background-image: url('../images/grass.png');
  background-size: cover;
}
.wood{
  background-image: url('../images/wood.jpeg');
  background-size: cover;
}
.leaves{
  background-image: url('../images/leaves.png');
  background-size: cover;
}
.ground {
  background-color: brown;
}

/* ************MENU************ */
#menu-container{
  background-color: rgb(46, 44, 44);
  width: 100px;
  height: 600px;
  text-align: center;
  position: fixed;
  right: 30px;
}
#menu-container button{
 height: 50px;
 width: 50px;
 margin: 10px 20px;
 background-color: darkgrey;
}
#pickaxe{
  background-image: url('../images/pickaxe.png');
  background-size: cover;
}
#axe{
  background-image: url('../images/axe.png');
  background-size: cover;
}
#shovel{
  background-image: url('../images/shovel.png');
  background-size: cover;
} 
