body {
  margin: 0;
  font-size: 0;
}
#container {
  height: 600px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main {
  height: 600px;
  width: 600px;
  position: absolute;
  left: 0;
  background-image: url("../images/minecraft_landingpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#landingpageText {
  height: 150px;
  width: 550px;
  background-image: url("../images/minecraft.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#startBtn, #tutorialBtn {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 150px;
  border-radius: 15px;
  opacity: 0.8;
  background: #5a5a5a;
  font-size: xx-large;
  font-family: monospace;
  cursor: pointer;
}

#tutorialBtn {
  bottom: 30%;
}

#startBtn:hover, #tutorialBtn:hover {
  background-color: #000;
  color: #fff;
}

#tutorialText {
  max-width: 100%;
  font-size: 18px;
  background-color: rgba(0,0,0,0.45);
  color: #fff;
  position: absolute;
  bottom: 0;
}

.box {
  display: inline-block;
  height: 60px;
  width: 60px;
}

.stone{
  background-image: url('../images/stone.png');
  background-size: cover;
}
.dirt{
  background-image: url('../images/dirt.jpeg');
  background-size: cover;
}
.grass{
  background-image: url('../images/grass.png');
  background-size: cover;
}
.wood{
  background-image: url('../images/wood.jpeg');
  background-size: cover;
}
.leaves{
  background-image: url('../images/leaves.png');
  background-size: cover;
}
.ground {
  background-color: brown;
}

/* ************MENU************ */
#menu{
  background-color: rgb(46, 44, 44);
  width: 100px;
  height: 600px;
  text-align: center;
  position: fixed;
  right: 0;
}
#menu-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#menu button{
 height: 50px;
 width: 50px;
 margin: 10px 20px;
 background-color: darkgrey;
}
#pickaxe{
  background-image: url('../images/pickaxe.png');
  background-size: cover;
}
#axe{
  background-image: url('../images/axe.png');
  background-size: cover;
}
#shovel{
  background-image: url('../images/shovel.png');
  background-size: cover;
}
.selected-tool{
  border: 2px solid greenyellow;
}
