body {
  margin: 0;
  font-size: 0;
}

#container {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/sky.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

<<<<<<< HEAD
.box {
  display: inline-block;
  height: 60px;
  width: 60px;
}

.row9, .row8, .row7 {
  background-image: url("../images/dirt.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
=======
.ground {
  background-color: brown;
}
>>>>>>> 0982298a7d6378e324f141d016079b8ad01fe01f
